<template>
  <v-navigation-drawer app clipped expand-on-hover permanent>
    <v-list nav dense>
      <template v-for="(r, i) in routeData">
        <v-list-group v-if="r.children" :key="i" no-action :prepend-icon="r.meta.icon">
          <template v-slot:activator :to="r">
            <v-list-item-title>{{r.name}}</v-list-item-title>
          </template>
          <v-list-item v-for="(rc, j) in r.children" :to="rc" :key="j">
            <v-list-item-content>
              <v-list-item-title>{{rc.name}}</v-list-item-title>
            </v-list-item-content>
            <v-list-item-icon>
              <v-icon>{{rc.meta.icon}}</v-icon>
            </v-list-item-icon>
          </v-list-item>
        </v-list-group>
        <v-list-item v-else :to="r" :key="i">
          <v-list-item-icon>
            <v-icon>{{r.meta.icon}}</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>{{r.name}}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </template>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
import { mapState } from 'vuex'
import { routeData } from '@/router'

export default {
  name: 'NavDrawer',
  props: {},
  data() {
    return {
      routeData
    }
  },
  created() {},
  mounted() {},
  beforeDestory() {},
  watch: {
  },
  computed: {
    ...mapState(['route']),
  },
  methods: {
  }
}
</script>

<!-- Add 'scoped' attribute to limit CSS to this component only -->
<style lang="sass" scoped>
// .border
//     border: 1px dashed grey
</style>
