<template>
  <v-layout row wrap>
    <v-flex xs12 text-xs-center display-3 pt-1>Template Page</v-flex>
  </v-layout>
</template>

<script>
export default {
  data() {
    return {}
  }
}
</script>

<style lang="sass">
</style>
