<template>
  <v-container>
    <v-row class="text-center">
      <v-col cols="12">
        <v-img
          :src="require('../assets/logo.svg')"
          class="my-3"
          contain
          height="400"
        />
      </v-col>

      <v-col class="mb-4">
        <h1 class="display-2 font-weight-bold mb-3">
          A Cloudbase Infrastructure
          <br>for Assisted Transit
        </h1>

        <p class="subheading font-weight-regular">
          
          <a
            href="https://news.ucsc.edu/2016/09/public-transit-service.html"
            target="_blank"
          >About Project</a>
        </p>
      </v-col>

      <v-col
        class="mb-5"
        cols="12"
      >
        <h2 class="headline font-weight-bold mb-3">
          Papers
        </h2>

        <v-row justify="center">
          <a
            v-for="(next, i) in whatsNext"
            :key="i"
            :href="next.href"
            class="subheading mx-3"
            target="_blank"
          >
            {{ next.text }}
          </a>
        </v-row>
      </v-col>

      <v-col
        class="mb-5"
        cols="12"
      >
        <h2 class="headline font-weight-bold mb-3">
          Important Links
        </h2>

        <v-row justify="center">
          <a
            v-for="(link, i) in importantLinks"
            :key="i"
            :href="link.href"
            class="subheading mx-3"
            target="_blank"
          >
            {{ link.text }}
          </a>
        </v-row>
      </v-col>

      <v-col
        class="mb-5"
        cols="12"
      >
        <h2 class="headline font-weight-bold mb-3">
          Partners
        </h2>

        <v-row justify="center">
          <a
            v-for="(eco, i) in ecosystem"
            :key="i"
            :href="eco.href"
            class="subheading mx-3"
            target="_blank"
          >
            {{ eco.text }}
          </a>
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
  export default {
    name: 'HelloWorld',

    data: () => ({
      ecosystem: [
        {
          text: 'VTA',
          href: 'https://www.vta.org/',
        },
        {
          text: 'IBM Cloud',
          href: 'https://www.ibm.com/cloud?p1=Search&p4=p51838804081&p5=e&cm_mmc=Search_Google-_-1S_1S-_-WW_NA-_-ibm%20cloud_e&cm_mmca7=71700000061217481&cm_mmca8=aud-309367918490:kwd-13486270578&cm_mmca9=CjwKCAjw1cX0BRBmEiwAy9tKHtCDN14RsX1hZalJYjldHmGpvzxc2wmYdBzvNaADj-mcbmZpJ9KOhBoCXrIQAvD_BwE&cm_mmca10=420179305168&cm_mmca11=e&gclid=CjwKCAjw1cX0BRBmEiwAy9tKHtCDN14RsX1hZalJYjldHmGpvzxc2wmYdBzvNaADj-mcbmZpJ9KOhBoCXrIQAvD_BwE&gclsrc=aw.ds',
        },
        {
          text: 'NSF',
          href: 'https://nsf.gov/index.jsp',
        },
      ],
      importantLinks: [
        {
          text: 'Open Trip Planner',
          href: 'http://www.opentripplanner.org/',
        },
        {
          text: 'GTFS Static',
          href: 'https://developers.google.com/transit/gtfs',
        },
        {
          text: 'Transit Data',
          href: 'https://511.org/open-data/transit',
        },
      ],
      whatsNext: [
        {
          text: '	RouteMe2: A Cloud-Based Infrastructure for Assisted Transit',
          href: 'https://escholarship.org/uc/item/8wx760m2',
        }
      ],
    }),
  }
</script>
