<template>
  <v-app-bar app dark clipped-left color="red" dense :height="BarHeight">
    <v-toolbar-title>{{ route.name | capitalizeAll }}</v-toolbar-title>
    <v-spacer />
    <v-btn @click.stop="mutToggleSignInModal()" target="_blank" text>
      <span class="mr-2">Login</span>
      <v-icon>mdi-open-in-new</v-icon>
    </v-btn>
  </v-app-bar>
</template>

<script>
import { mapState, mapMutations } from 'vuex'

export default {
  name: 'ToolBar',
  props: {},
  data() {
    return {}
  },
  mounted() {},
  computed: {
    ...mapState(['route']),
    ...mapState('app', ['BarHeight', 'SignInModal'])
  },
  methods: {
    ...mapMutations('app', ['mutToggleSignInModal'])
  }
}
</script>

<!-- Add 'scoped' attribute to limit CSS to this component only -->
<style lang="sass" scoped>
</style>
