<template>
  <v-form ref="form" v-model="valid" lazy-validation>
    <v-text-field v-model="name" label="Name" required></v-text-field>

    <v-text-field v-model="email" label="E-mail" required></v-text-field>
  </v-form>
</template>

<script>
import { mapState, mapGetters, mapMutations, mapActions } from 'vuex'

export default {
  name: 'SignInForm',
  props: {},
  data() { 
    return {
      valid: false,
      name: '',
      email: ''
    } 
  },
  created() {},
  mounted() {},
  beforeDestory() {},
  watch: {},
  computed: {
    ...mapState([]),
    ...mapGetters([])
  },
  methods: {
    ...mapMutations([]),
    ...mapActions([])
  }
}
</script>

<style lang="sass" scoped>
// .border
//     border: 1px dashed grey
</style>
