<template>
  <v-row justify="center">
    <v-dialog v-model="modal" max-width="290">
      <v-card>
        <v-tabs>
          <v-tab @click="showSignInForm = true">Sign In</v-tab>
          <v-tab @click="showSignInForm = false">Sign Up</v-tab>
        </v-tabs>

        <v-card-text>
          <SignInForm v-if="showSignInForm" />
          <SignUpForm v-else />
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn color="green darken-1" text @click="mutSignInModal(false)">Sign In</v-btn>

          <v-btn color="green darken-1" text @click="mutSignInModal(false)">Sign Up</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
import { mapState, mapGetters, mapMutations, mapActions } from 'vuex'
import SignInForm from './SignInForm'
import SignUpForm from './SignUpForm'

export default {
  name: 'SignInModal',
  components: { SignInForm, SignUpForm },
  props: {},
  data() { 
    return {
      showSignInForm: true,
    } 
  },
  created() {},
  mounted() {},
  beforeDestory() {},
  watch: {
  },
  computed: {
    ...mapState('app', ['SignInModal']),
    ...mapGetters([]),
    modal: {
      get() { return this.SignInModal },
      set(val) { this.mutSignInModal(val) }
    }
  },
  methods: {
    ...mapMutations('app', ['mutSignInModal', 'mutToggleSignInModal']),
    ...mapActions([])
  }
}
</script>

<style lang="sass" scoped>
// .border
//     border: 1px dashed grey
</style>
