<template>
  <v-app>
    <NavDrawer />
    <ToolBar />
    <SignInModal />
    <v-content>
      <v-container fluid>
        <router-view />
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import {
  NavDrawer,
  ToolBar,
  SignInModal
} from '@/components/app'

export default {
  name: 'App',
  components: {
    NavDrawer,
    ToolBar,
    SignInModal
  },
  data() {
    return {}
  },
  mounted() {},
  methods: {}
}
</script>

<style lang="sass">
@import url('https://fonts.googleapis.com/css?family=Quicksand')

// .border
//   border: 1px dashed grey

// Default font
#app
  font-family: Quicksand, sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  color: #2c3e50
</style>
